.product_title{
    background-color:white;
    padding: 20px;
}
.product_status{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


.ant-col-24.ant-form-item-label{
    padding: 0px !important;
}
.add_new_product{
    padding: 0px 20px 0px 20px;
}
.product_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Product_heading{
    padding-bottom: 10px;
}
.discard_btn{
    margin-right: 2px;
}
.product_images{
    margin-top: 4%;
}
.pricing{
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: -2%;
}
.product_title{
    margin-top: 20px;
}

.cost_input{
    margin-top: -10%;
}
.attribtes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.attribute_name{
    width: 22%;
    max-height: 36px;
}
.preview_head{
    margin-top: 4%;
}
.submit_btn{
    display: flex;
    align-items: center;
    justify-content: end;
}
.add_tags{
    display: flex;
    justify-content: end;
    align-items: center;
}
.attribtes .rti--container {
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 0px;
}
.variant_table{
    overflow-y: auto;
}
@media only screen and (max-width: 768px) {
    .add_new_product{
        padding: 0;
    }

}