.product_title{
    background-color:white;
    padding: 20px;
}
.product_status{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.status{
    margin-top: 10px;
}


.ant-col-24.ant-form-item-label{
    padding: 0px !important;
}
.add_new_product{
    padding: 0px 20px 0px 20px;
}
.product_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Product_heading{
    padding-bottom: 10px;
}
.discard_btn{
    margin-right: 2px;
}
.product_images {
    margin-top: 4%;
    border: 1px solid #ddd;  /* Add your preferred border style */
    width: 100%;
    padding: 20px;
    background-color: white;
}

.pricing{
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: -2%;
}
.product_title{
    margin-top: 20px;
}

.cost_input {
    margin-top: 1%;
}
.attribtes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.attribute_name{
    width: 22%;
    max-height: 36px;
}
.preview_head{
    margin-top: 4%;
}
.submit_btn{
    display: flex;
    align-items: center;
    justify-content: end;
}
.add_tags{
    display: flex;
    justify-content: end;
    align-items: center;
   
}
.attribtes .rti--container {
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
}
.rti--input {
    border: 0;
    outline: 0;
    /* font-size: inherit; */
    line-height: inherit;
    width: 100% !important;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.rti--container:focus-within {
    background: transparent;
    border-color: #1677ff !important;
    box-shadow: none !important;
}
.variant_table{
    overflow-y: auto;
}
@media only screen and (max-width: 768px) {
    .add_new_product{
        padding: 0;
    }

}
.new-line-checkbox {
    display: block;
  
    
  }
  .rti--container {
    --rti-bg: #fff;
    --rti-border: #ccc;
    --rti-main: #3182ce;
   padding:4px !important;
   border-radius: 0px !important;
    --rti-s: .5rem;
    --rti-tag: #edf2f7;
    --rti-tag-remove: #e53e3e;
    --rti-tag-padding: .15rem .25rem;
    align-items: center;
    background: var(--rti-bg);
    border: 1px solid var(--rti-border);
    
    display: flex;
    flex-wrap: wrap;
    gap: var(--rti-s);
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.88) !important;
    font-size: 14px;
    input::placeholder {
        color: rgb(222, 211, 211) !important; /* Replace with the desired color */
    }
}
