.modal_thumbnail{
  max-width: 10%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.category{
    background: white;
    padding: 20px 20px 100px 20px ;
    border-radius: 5px;
    min-height: 350px;
}
.add-category {
    margin-top: 2%;
  }
  
  .category_input {
    width: 50%;
  }
  
  .add_category {
    margin-top: 2%;
  }
  .category_Text{
    padding-bottom: 5px;
  }
  
  .category-select {
    width: 50%;
  }
  
  .subcategory-input {
    width: 50%;
    margin-bottom: 2%;
  }
  
  .add-subcategory-button {
    margin-left: 2%;
  }
  .select_sub_category{
    padding-bottom: 5px;
   
  }
  .sub_input,.select_cat{
    width: 50% !important;
  }
  .subcategory_typo{
    margin-bottom: -2%;
  }
  .category_table {
    margin-top: 5%;
    overflow-x: auto;
  }
  
  .category-image {
    width: 50px;
  }
  
  .subcategory-image {
    width: 30px;
  }
  
  .delete-button {
    margin-left: 2%;
  }
  
  @media only screen and (max-width: 768px) {

  .categories_main{
margin-top: 50px;
  }
  .category_input {
    width: 100%;
  }

  .sub_input,.select_cat{
    width: 100% !important;
  }

}

.upload_btn{
  width: 100% !important;
}
.thumbnail{
  width: 100% !important;
}
.rank,.title{
  width:100% !important;
}
