@media only screen and (max-width: 768px) {
    .import_csv{
     margin-top: 50px !important;
    }

}
@media only screen and (max-width: 768px) {
    .tags_main{
     margin-top: 50px !important;
    }

}
.tags_header{
margin-bottom: 16px;
background-color: white;
padding: 30px;
}
.add_tag{
    width: 100% !important;
}
.btn_end{
    text-align: end;
}
.all_tags{
    cursor: pointer;
    fontSize: 10px;
    padding: 8px;
    marginBottom: 5px;
    marginRight: 8px;
    marginTop: 28px;
    whiteSpace: nowrap;
    display: inline-block;
    background: #1677ff;
    color:white

}