.search_product_row{
  margin-top: 10px;
}
.image-card {
  position: relative;
  width: 100%;
}
.card_label{
  padding-top: 5px !important;
  font-weight: 500 !important;
}

.all-cat-image {
  max-height: 250px;
  width: 100%;
  transition: transform 1s ease;
  object-fit: cover;
  border-radius: 0px !important;
  
}
.hoverable-image-container{
  position: relative;
}
.hoverable-image-container:hover{
  transition: .5s ease-out;
}

.image-card:hover .all-cat-image {
  transform: rotateY(180deg);
}
@media only screen and (max-width: 768px) {
  .find_p_filter{
   margin-top: 5%;
  }
  .filter_by{
    margin-bottom:10%;
   
  }
  .category_card{
    margin-top: 4%;
  }
  .search_product_row{
    margin-top: 10px;
  }
  .bread_crumb{
    margin: 40px 0 20px !important;
  }
  .product_head {
   
    margin-top: 35px !important;
}
}


.ant-card-body{
  padding: 0px 15px 15px 12px !important;
}


.card_cost{
  background-color: rgba(198,126,64,.1);
  padding: 10px;
}
.card_para{
  color: #c67e40;
}
.card_title{
  color: #c67e40 !important;
  margin: 0 !important;
}
.card_suggest_head{
  background-color: rgba(45,148,76,.1) !important;
  padding: 10px !important;
}
.card_suggest{
  color: #2d944c;
}
.card_suggest_price{
  color: #2d944c !important;
  margin: 0 !important;
}
.card_divider{
  margin: 8px 0 !important;
}
.card_bottom_price{
  margin-bottom: 0 !important;
}
.card_bottom{
  display: flex;
  justify-content: space-between;
}
.bread_crumb{
  margin: 5px 0 20px;
}
.category_card{
  /* background: #fbf7f7; */
  transition: all .5s ease-in-out 0s;
   border-radius: 0px; 
}
.category_card:hover{

  /* border-radius: 0px; */
  /* background: #fbf7f7; */
  box-shadow:  10px 10px 14px #beb5f1,
               -10px -10px 14px #ebebeb;
               cursor: pointer;
               transform: translateY(-10px);
}
.category_card_head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category_card_bottom{
  margin: 0;
}
.category_card_img{
  height: 80px;
}
.category_row{
  margin-top: 2%;
}
.select_category{
  width: 100%;
  margin-top: 30px;
}
.product-info-list{
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
  border-radius: 5px !important;
}
.product-info-list:hover{
  box-shadow: 1px 10px 20px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 10px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 20px -1px rgba(0,0,0,0.75);
}
.pagination{
  text-align: right;
  margin-top: 16px;
  
}
.all_products{
  padding-bottom: 10px;
}
.category_card .ant-card-body {
  padding: 0 !important;
}
.category_card .ant-card-body {
  padding: 0 0 0 10px !important;
}
.category_card {
  margin-bottom: 16px;
}
.add_to_import {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(100% - 24px);
  left: 12px;
  height: 40px;
  border-radius: 3px;
  background: rgba(255,255,255,.9);
  font-size: 13px;
  color: rgba(0,0,0,.9);
  position: absolute;
  bottom: 0px;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
  
}
.product-info-list:hover .add_to_import {
  bottom: 30px;
  opacity: 1;
  color: gray;
  border-color: gray;
  background: #ffffff;
}
div:where(.css-dev-only-do-not-override-1rqnfsa).ant-typography, :where(.css-dev-only-do-not-override-1rqnfsa).ant-typography p {
  margin-bottom: 1px !important;
}